<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DBSERVER" value="(local)\sql2016" />
    <add key="DBNAME" value="jwdata" />
    <add key="DBUSER" value="sa" />
    <add key="DBPASSWORD" value="123" />
    <add key="LoggerPath" value="d:\" />
    <add key="LoggerIsOpen" value="true" />
  </appSettings>
</configuration>