
@{
    ViewBag.Title = "修改密码";
}
<link rel="stylesheet" href="~/Content/my.css" />
<script src="~/Scripts/my.js"></script>

<div class="settings">
    <div class="column">
        <div class="field">
            <div class="label">新密码</div>
            <div class="value">
                @(Html.DevExtreme().TextBox()
                    .ID("txtPW1")
                    .MaxLength(20)
                    .Mode(TextBoxMode.Password)
                )
            </div>
        </div>
        <div class="field">
            <div class="label">重复密码</div>
            <div class="value">
                @(Html.DevExtreme().TextBox()
                    .ID("txtPW2")
                    .MaxLength(20)
                    .Mode(TextBoxMode.Password)
                )
            </div>
        </div>
        <div class="field">
            <div class="label"></div>
            <div class="value">
                @(Html.DevExtreme().Button()
                        .Text("修改")
                        .Type(ButtonType.Default)
                        .StylingMode(ButtonStylingMode.Contained)
                        .Width(120)
                        .OnClick("toDo")
                    )
            </div>
        </div>
    </div>
</div>
<script>
    function toDo() {
        var pw1 = $("#txtPW1").dxTextBox("instance").option("value");
        var pw2 = $("#txtPW2").dxTextBox("instance").option("value");
        $.ajax({
            type: 'POST',
            url: "/account/tochangepassword",
            data: {
                "pw1": pw1,
                "pw2": pw2
            },
            timeout: 30000,
            success: function (datajson) {
                //alert(datajson.msg);
                DevExpress.ui.notify(datajson.msg, datajson.status ? "success" : "error", 3000);
                if (datajson.status) {
                    $("#txtPW1").dxTextBox("instance").option("value", "");
                    $("#txtPW2").dxTextBox("instance").option("value", "");
                }
            }
        });
    }
</script>
